<!-- 
    
    Creado componente desde la consola:
    ng g c empleadoHijoC
    Llamado empleadoHijoC (Puesto C de componente)
    Minuto 6:30 https://www.youtube.com/watch?v=cXMmb2jqTJM&list=PLU8oAlHdN5BnNAe8zXnuBNzKID39DUwcO&index=19
    
    <p>empleado-hijo-c works!</p> -->

<div class="container">
    <div class="row">
        <div class="col">
            <div>

                {{indice+1}}: {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}} {{empleadoDeLista.salario}}

            </div>
        </div>
    </div>
</div>